* { margin:0; padding:0; box-sizing:border-box; }

body {
	background: url('../images/background.jpg');
	background-size: cover;
	background-repeat: no-repeat;
	color: #fff;
	background-color: rgb(82,90,106);
}

hr {
	width: 40px;
	border-color: rgb(246,85,89);
}

.stripe {
	background: url("../images/stripes.png") repeat-x;
	position: absolute;
	top: 0px;
	width: 100%;
	height: 15px;
}

.logoimage {
	padding-bottom: 30px;
}

.logowrapper {
	display: block;
	padding-top: 300px;
	padding-left: 120px;

}

.tagline {
	font-family: sans-serif;
	padding-top: 30px;
	padding-bottom: 30px; 
	font-size: 26px;
}
