* {
 -moz-box-sizing: border-box; /* Firexfox */
 -webkit-box-sizing: border-box; /* Safari/Chrome/iOS/Android */
 box-sizing: border-box; /* IE */
}

body {
	background-image: url("../images/red-background.jpg"); 
	background-size: cover;
	background-repeat: no-repeat;
	color: black;

}
nav {
	background-color: #aaaaaa;
	font-family: Arial, sans-serif;
	width: 100%;
}
footer {
	text-align: center;
	border-top: solid 1px black;
	margin-top: 100px;
}

a {
	transition: background-color 0.5s ease;
	background-color: rgba(0,0,0, 0.8);
	color: #FF;
	text-decoration: none;
	display: block;
	padding: 25px;
	width: 25%;
	float: left;

	text-align: center;
}
.macbook {

	width: 450px;
	height: 300px;
	margin-left: 154px;

}
#content {
	width: 560px;
	padding: 20px 0;
	margin: 0 0 0 30px;
	float: left;
}
.center {
	text-align: center;
}

aside {
	width: 560px;
	padding: 20px 0;
	margin: 0 20px 0 0;
	float: right;
}

a:hover {
	background-color: #aaaaaa;

}

.wordmark { 
	color: #000;
	font-family: 'Pacifico', cursive;
	padding: 70px;
	font-size: 40px;
	margin: 10px;
	float: left;
}
.wordmarktwo {
	float: right;
	padding: 77px;
}
.tech {
	text-align: center;
	font-family: 'Dancing Script', cursive;
	padding: 10px;
}
.tagline {
	color: #8C489F;
	margin: 100px;
	padding-left: 150px;
	font-family: 'Lobster', cursive;
	font-size: 34px;
	letter-spacing: 3px;
	float: left ;
}
.serviceswrapper {
	text-align: center;
	padding: 60px;
}
.yellow {
	color: yellow;
}
.enjoy {
	font-family: 'Source Code Pro', arial;
}
.italics {
	font-style: italic;
}
.teal {
	color: #003366;
}
.drop {
	letter-spacing: 4px;
	text-align: center;
	font-family: cursive;
	padding: 10px;
}
.html_logo {
	max-width: 100px;
	max-height: 100px;
}
.css_logo {
	max-width: 100px;
	max-height: 100px;
}
.responsive_logo {
	max-width: 100px;
	max-height: 100px;
}


.clearfix:after {
	visibility: hidden;
	display: block;
	font-size: 0;
	content: ".";
	clear: both;
	height: 0;
}
